# BFF
PORT=3001
LOG_LEVEL=info
AWS_REGION=ap-northeast-1

# AWS_ACCESS_KEY_ID=
# AWS_SECRET_ACCESS_KEY=
# AWS_SESSION_TOKEN=

# WebからBFFへのサーバー側プロキシ先
BFF_ORIGIN=http://localhost:3001

# 顔画像を保存するS3バケット名
FACE_IMAGE_BUCKET_NAME=
